body {
    text-align: center;
    color: blue;
    background-color: pink;
    font-family: monospace;
}

#img_code {
    width: 300px;
}

hr {
   height: 10px;
   background-color: royalblue;
   margin-top: 50px;
}

h3 {
    color:red;
}